


#pragma code_page(65001) // UTF-8


#define wxUSE_RC_MANIFEST 0
#define wxUSE_DPI_AWARE_MANIFEST 0


// SVG files for various images
//
TOOLBAR_CLEAR_FILTERS       RCDATA           "art\\toolbar_clear_filters.svg"
TOOLBAR_DOWNLOAD            RCDATA           "art\\toolbar_download.svg"
TOOLBAR_OPEN                RCDATA           "art\\toolbar_open.svg"
TOOLBAR_REFRESH             RCDATA           "art\\toolbar_refresh.svg"
TOOLBAR_SAVE                RCDATA           "art\\toolbar_save.svg"
TOOLBAR_SETTINGS            RCDATA           "art\\toolbar_settings.svg"
TREE_CHECKED_IMG            RCDATA           "art\\checked_box.svg"
TREE_UNCHECKED_IMG          RCDATA           "art\\unchecked_box.svg"
TREE_FILTER_IMG             RCDATA           "art\\filter.svg"

#include "wx/msw/wx.rc"